/*
    Created on : Aug 2, 2014, 2:27:50 PM
    Author     : David van Laatum
*/
.unittests td {
  vertical-align: top;
}
.unittests ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

.unittests .actions {
  text-align: right;
}

.unittests .duration {
  text-align: right;
}

a.unittestproject {
  text-decoration: none;
  color: inherit;
}

.unreliable .statechange, .unreliable .runs, .unreliable .rate {
  text-align: right;
  width: 50px;
}

.user, .userstate {
    white-space: nowrap;
}
